# IDEA
.idea

# OSX
#
*/.DS_Store

# Xcode
#
mobile/build/
mobile/*.pbxuser
mobile/!default.pbxuser
mobile/*.mode1v3
mobile/!default.mode1v3
mobile/*.mode2v3
mobile/!default.mode2v3
mobile/*.perspectivev3
mobile/!default.perspectivev3
mobile/xcuserdata
mobile/*.xccheckout
mobile/*.moved-aside
mobile/DerivedData
mobile/*.hmap
mobile/*.ipa
mobile/*.xcuserstate
mobile/mobile/ios/.xcode.env.local
/mobile/ios/mobile.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/mobile/ios/mobile.xcworkspace/xcuserdata/0x10c.xcuserdatad/UserInterfaceState.xcuserstate

# Android/IntelliJ
#
mobile/ios/Podfile.lock
mobile/android/local.properties
mobile/android/.gradle
mobile/android/build
mobile/android/app/build
mobile/.idea
mobile/.gradle
mobile/local.properties
mobile/*.iml
mobile/*.hprof
mobile/.cxx/
mobile/*.keystore
mobile/!debug.keystore

# node.js
#
*/node_modules/
*/npm-debug.log
*/yarn-error.log
*/package-lock.json

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
mobile/ios/Pods/
mobile/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
mobile/.metro-health-check*

# testing
mobile/coverage
